# pandas 
[pandas website](https://pandas.pydata.org/)
- pandas 基于Python 
- pandas 是一个快速，强大，灵活的，易于使用的开源数据分析和操作的工具
- Latest version: 1.3.4, Release date: Oct 17, 2021

In [1]:
import pandas as pd

## Pandas Data Structures

### Series 一维

In [2]:
s = pd.Series([1,2,3,5,8], 
              index=['a','b','c','d','e'])
s

a    1
b    2
c    3
d    5
e    8
dtype: int64

### Dataframe 二维

In [3]:
data = {'Country':['Belgium','India','Brazil'],
       'Capital':['Brussels','New Delhi','Brasilia'],
       'Population':[11190846,1303171035,287847528]}
df = pd.DataFrame(data,
                 columns=['Country','Capital','Population'])
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   287847528

### Panel 三维
- xarray N-D labeled arrays and datasets in Python
- http://xarray.pydata.org/en/stable/
- pip install xarray

In [4]:
import numpy as np 
df = pd.DataFrame({'A' : [1, 1, 2],
                   'B' : ['foo', 'bar', 'foo'],
                   'C' : np.arange(4.,7)})
df

   A    B    C
0  1  foo  4.0
1  1  bar  5.0
2  2  foo  6.0

In [5]:
df.to_xarray()

<xarray.Dataset>
Dimensions:  (index: 3)
Coordinates:
  * index    (index) int64 0 1 2
Data variables:
    A        (index) int64 1 1 2
    B        (index) object 'foo' 'bar' 'foo'
    C        (index) float64 4.0 5.0 6.0

## Dropping 数据丢弃

In [6]:
s.drop(['a','c']) # 默认是行， axis=0

b    2
d    5
e    8
dtype: int64

In [7]:
df.drop('A',axis=1) # 指定列丢弃 axis=1

     B    C
0  foo  4.0
1  bar  5.0
2  foo  6.0

## Sort and Rank 数据排序

In [8]:
df.sort_index() # #Sort by labels along an axis

   A    B    C
0  1  foo  4.0
1  1  bar  5.0
2  2  foo  6.0

In [9]:
df.sort_values(by='B')

   A    B    C
1  1  bar  5.0
0  1  foo  4.0
2  2  foo  6.0

In [10]:
df.rank()  #

     A    B    C
0  1.5  2.5  1.0
1  1.5  1.0  2.0
2  3.0  2.5  3.0

## I/O 文件的输入输出

### csv文件

In [11]:
import os
print(os.getcwd())
! pwd
! ls
os.chdir('/Users/zhusitao/JupyterNotebook/pytorch_tutorial')
! pwd
df = pd.read_csv('./data_backup/file.csv',header=0,nrows=5)
df.to_csv('data_backup/myDF.csv')

/Users/zhusitao/JupyterNotebook/python_learning
/Users/zhusitao/JupyterNotebook/python_learning
BioPython_manual.ipynb      foo.png
Chapter1                    jupyter.ipynb
Chapter2                    my_blast.xml
Chapter3                    my_example.faa
Chapter4                    numpyPPT.ipynb
Chapter5                    numpy_manual.ipynb
Chapter6                    out.txt
Chapter7                    pandasPPT.ipynb
Chapter8                    python introduction.ipynb
Chapter9                    python_bioinformatics.ipynb
MatplotlibPPT.ipynb         scikit-learn
bio_software.ipynb          scipyPPT.ipynb
data                        scipy_manual.ipynb
ex1.bam.bai                 speed.png
/Users/zhusitao/JupyterNotebook/pytorch_tutorial

### excel 文件

In [12]:
'''
pd.read_excel('file.xlsx')
df.to_excel('dir/mtDF.xlsx', sheet_name='Sheet1')
# 从同一个excel读取多个sheet
xlsx = pd.ExcelFile('file.xls')
df = pd.read_excel(xlsx, 'Sheet1')
'''

"\npd.read_excel('file.xlsx')\ndf.to_excel('dir/mtDF.xlsx', sheet_name='Sheet1')\n# 从同一个excel读取多个sheet\nxlsx = pd.ExcelFile('file.xls')\ndf = pd.read_excel(xlsx, 'Sheet1')\n"

### SQL or Database Table 伪代码

In [13]:
''' 
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
pd.read_sql("SELECT * FROM my_table;" , engine)
pd.read_sql_table('my_table' , engine)
pd.read_sql_query('SELECT * FROM my_table;' , engine)
'''

' \nfrom sqlalchemy import create_engine\nengine = create_engine(\'sqlite:///:memory:\')\npd.read_sql("SELECT * FROM my_table;" , engine)\npd.read_sql_table(\'my_table\' , engine)\npd.read_sql_query(\'SELECT * FROM my_table;\' , engine)\n'

## Selection 数据的索引
- By position
- By Label
- Boolean indexing

In [14]:
s['b']

2

In [15]:
df[1:]

  Class  Count1  Count2
1     B       3       4
2     C       5       6
3     D       7       8
4     E       9      10

### By position

In [16]:
df.iloc[[0],[0]]

  Class
0     A

### By Label

In [17]:
df.loc[[0],['Class']]

  Class
0     A

### Boolean indexing

In [18]:
s[~(s>1)]

a    1
dtype: int64

In [19]:
s[(s<-1) | (s>2)]

c    3
d    5
e    8
dtype: int64

In [20]:
df[df['Count1']>3]

  Class  Count1  Count2
2     C       5       6
3     D       7       8
4     E       9      10

### Setting

In [21]:
s['a'] = 6

## Retrieving Series / Dataframe information 数据的信息

### Basis information 基本信息

In [22]:
df.shape # (rows,columns)
df.index # Describe index
df.columns # Describe dataframe columns
df.info() # Info on Dataframe
df.count() # Number of non-NA values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Class   5 non-null      object
 1   Count1  5 non-null      int64
 2   Count2  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

Class     5
Count1    5
Count2    5
dtype: int64

### Summary 总结信息

In [23]:
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6],'C':[7,8,9]})

In [24]:
df.sum() # sum of values 
df.cumsum # Cummulative sum of values
df.min()/df.max() # minimum/maximum index value
df.describe() # summary statistics
df.mean() # mean of values
df.median() # median of values

A    2.0
B    5.0
C    8.0
dtype: float64

## Applying Functions 使用函数

In [25]:
f = lambda x : x**2
df.apply(f) # Apply function, also for series
df.applymap(f) # Apply function element-wise, not for series

   A   B   C
0  1  16  49
1  4  25  64
2  9  36  81

## Data Aligmnent 数据比较
选出两类数据中的相同的和不同的

In [26]:
df1 = pd.DataFrame([['Kitchen Utensils',25,10,'Boston'], ['Gardening',35,15,'NYC']], columns=['Product', 'Sales in millions', 'Profit', 'Store_location'], index=[1,2])
df2 = pd.DataFrame([['Kitchen Utensils',35,7,'Somerville'], ['Switches',35,10,'Bridgewater'], ['Monitors',70,8,'Trenton']], columns=['Product', 'Sales in millions', 'Loss', 'Store_location'], index=[2,3,4])

In [27]:
df1

            Product  Sales in millions  Profit Store_location
1  Kitchen Utensils                 25      10         Boston
2         Gardening                 35      15            NYC

In [28]:
df2

            Product  Sales in millions  Loss Store_location
2  Kitchen Utensils                 35     7     Somerville
3          Switches                 35    10    Bridgewater
4          Monitors                 70     8        Trenton

In [29]:
a1, a2 = df1.align(df2, join='right', axis=1)
print(a1)
print(a2)

            Product  Sales in millions  Loss Store_location
1  Kitchen Utensils                 25   NaN         Boston
2         Gardening                 35   NaN            NYC
            Product  Sales in millions  Loss Store_location
2  Kitchen Utensils                 35     7     Somerville
3          Switches                 35    10    Bridgewater
4          Monitors                 70     8        Trenton

#### Internal Data Alignment

In [30]:
s

a    6
b    2
c    3
d    5
e    8
dtype: int64

In [31]:
s3 = pd.Series([7,-2,3], index =['a','c','d'])

In [32]:
s + s3

a    13.0
b     NaN
c     1.0
d     8.0
e     NaN
dtype: float64

#### Arithmetic Operations with Fill Methods

In [33]:
s.add(s3, fill_value=0)

a    13.0
b     2.0
c     1.0
d     8.0
e     8.0
dtype: float64

In [34]:
s.sub(s3, fill_value=2)

a   -1.0
b    0.0
c    5.0
d    2.0
e    6.0
dtype: float64

In [35]:
s.div(s3, fill_value=4)

a    0.857143
b    0.500000
c   -1.500000
d    1.666667
e    2.000000
dtype: float64

In [36]:
s.mul(s3, fill_value=3)

a    42.0
b     6.0
c    -6.0
d    15.0
e    24.0
dtype: float64

## 索引加强

### 两种索引方式
- 名称索引
- 整型索引

In [37]:
df = mydict = [
    {'a': 1, 'b': 2, 'c': 3, 'd': 4},
    {'a': 100, 'b': 200, 'c': 300, 'd': 400},
    {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

### 名称索引

- loc
- 行索引，使用的行名 [0,1,2]
- series 展示

In [38]:
df.loc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [39]:
type(df.iloc[0]) # Series

pandas.core.series.Series

- dataframe 展示

In [40]:
df.loc[[0]]

   a  b  c  d
0  1  2  3  4

In [41]:
type(df.iloc[[0]]) # DataFrame

pandas.core.frame.DataFrame

- 多行索引

In [42]:
df.loc[[0,1]] # 多行索引

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

- 列索引
- 返回series

In [43]:
df.loc[:,'a'] # 列索引，但是要使用列名 ['a','b','c','d']  : 表示切片

0       1
1     100
2    1000
Name: a, dtype: int64

In [44]:
type(df.loc[:,'a'])   #列索引，返回Series

pandas.core.series.Series

- 列索引
- 返回dataframe

In [45]:
df.loc[:,['a']]    # 列索引，返回DataFrame

      a
0     1
1   100
2  1000

In [46]:
type(df.loc[:,['a']])

pandas.core.frame.DataFrame

- 多列索引

In [47]:
df.loc[:,['a','b']] # 多列索引

      a     b
0     1     2
1   100   200
2  1000  2000

- 行列同时索引

In [48]:
df.loc[0,'a'] # 第0行第a列的元素

1

In [49]:
df.loc[0:1,['a','b']] # 前两行和，a,b 两列的数据框

     a    b
0    1    2
1  100  200

In [50]:
df.loc[[0,1],['a','b']]

     a    b
0    1    2
1  100  200

In [51]:
df.loc[[0,2],['a','b']]

      a     b
0     1     2
2  1000  2000

In [52]:
df.loc[0:2,['a','b']]  # loc 是名称索引，所以他不是Python自带的 0-based的方式

      a     b
0     1     2
1   100   200
2  1000  2000

### 整型索引
- iloc

In [53]:
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [54]:
df.iloc[0] # 行索引, 返回Series

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [55]:
df.iloc[[0]] # 行索引，返回DataFrame

   a  b  c  d
0  1  2  3  4

In [56]:
df.iloc[0:2] # 行索引,使用切片slice object 0-based

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

In [57]:
df.iloc[0:1,:]  # 行索引，列全部包括

   a  b  c  d
0  1  2  3  4

In [58]:
df.iloc[0:2,0:2] # 行列同时索引，0-based

     a    b
0    1    2
1  100  200

In [59]:
df.iloc[:,1] # 列索引， 单列索引

0       2
1     200
2    2000
Name: b, dtype: int64

In [60]:
type(df.iloc[:,1]) # 返回的是Series对象

pandas.core.series.Series

In [61]:
df.iloc[:,0:2]    # 多列索引，返回的是数据框

      a     b
0     1     2
1   100   200
2  1000  2000

In [62]:
type(df.iloc[:,0:2])

pandas.core.frame.DataFrame

### boolean index

In [63]:
df.iloc[:, [True, False, True, False]]

      a     c
0     1     3
1   100   300
2  1000  3000

### lambda index

In [64]:
df.iloc[:,lambda df: [0,2]] # 行是全部的内容，列是第一和第三列

      a     c
0     1     3
1   100   300
2  1000  3000